#profileSlot {
    position: relative;
    height: 96px;
    width: 728px;
    font-family: "Arial";
    background-color: #fff;
    color: #575757;
}
.placehold {
    border: 4px solid white;
}
.boy {
    border-color: #37d5fe;
}
.girl {
    border-color: #ee4494;
}
#name {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
    height: 96px;
    top: 0;
    padding-top: 28px;
}
#address {
    position: absolute;
    right: 0;
    height: 96px;
    top: 0;
    display: inline-block;
    padding-right: 19px;
    padding-top: 0;
    text-align: center;
    font-size: 18px;
}