<div id="profileSlot">
    <img src="images/placeholder.png" class="placehold" ng-class="gender">
    <div id="name">{{name}}</div>
    <div id="address">
    	<p>{{addressLine1}}<br>{{addressLine2}}<br>{{addressLine3}}</p>
    </div>
</div>